html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "微软雅黑";
}
ul, li, p {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.image-box {
  padding-bottom: 0px !important;
  cursor: pointer;
  .el-message-box__header {
    display: none;
  }
  .el-message-box__btns {
    display: none;
  }
  .el-message-box__content {
    padding: 0 !important;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.search-box {
  height: 100%;
  overflow-y: hidden;
  .search-header {
    height: 50px;
    overflow-y: hidden;
  }
  .search-content {
    height: calc(100% - 50px);
    overflow-y: hidden;
    .search-table {
      height: calc(100% - 50px);
      width: 100%
    }
  }
}
.most-dislog {
  font-size: 14px;
  .el-dialog__header {
    background-color: #ff333a;
    padding: 10px;
    color: white;
    .el-dialog__title {
      color: white;
      font-size: 14px;
    }
    .el-dialog__headerbtn {
      top: 13px;
      i {
        color: white;
      }
    }
  }
  .el-dialog__body {
    padding: 20px 10px;
  }
  .el-dialog__footer {
    padding: 10px;
  }
}
.auto-drawer {
  .el-drawer__body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
.el-table {
  .orde-status {
    font-weight: bold;
  }
  .unpaid {
    color: #ada7a1;
  }
  .paid {
    color: #4bff65;
  }
  .paiderror {
    color: #ff0018;
  }
  .undeliver {
    color: #83cdff;
  }
  .deliver {
    color: #68a5ff;
  }
  .delivered {
    color: #011fff;
  }
  .over {
    color: #000000;
  }
  .refund {
    color: #54fdff;
  }
  .unrefund {
    color: #ff690a;
  }
}